<a href="https://colab.research.google.com/github/shivani-202/hate-speech-detection-and-classification-/blob/main/datasetcreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('/content/twitterdataset01.csv')
df2 = pd.read_csv('/content/DB2[use].csv')
print(df1.head())
print(df2.head())

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
   column_a  count  hate_speech  offensive_language  neither  class  \
0         0      3            0                   0        3      2
1         1      3            0                   3        0      1
2         2      3            0                   3        0      1
3         3      3            0                   2        1      1
4         4      6            0                   6        0      1

                                               tweet
0  !!! RT @mayasolovely: As a woman you shouldn't...
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [6]:
print(df1['label'].value_counts())
print(df2['class'].value_counts())

label
0    29720
1     2242
Name: count, dtype: int64
class
1    19190
2     4163
0     1430
Name: count, dtype: int64

In [7]:
print(df1.isnull().sum())

# Check for missing values in specific columns
print(df1['tweet'].isnull().sum())
print(df2.isnull().sum())

id       0
label    0
tweet    0
dtype: int64
0
column_a              0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

No missing values are present in both datasets.

In [9]:
# Dropping columns
df2 = df2.drop(['column_a', 'count', 'hate_speech', 'offensive_language', 'neither'], axis=1)

df1 = df1.drop(['id'], axis=1)

print(df1.head())
print(df2.head())

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation
   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [10]:
df2 = df2.rename(columns={'class': 'label'})
print(df2.head())

   label                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [12]:
df2['label'] = df2['label'].replace(2, 0)
print(df2.head())
print(df2['label'].value_counts())

   label                                              tweet
0      0  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
label
1    19190
0     5593
Name: count, dtype: int64

In [14]:
df1['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [13]:
hatespeech_dataset = pd.concat([df1, df2], ignore_index=True)
print(hatespeech_dataset.head())
print(hatespeech_dataset['label'].value_counts())

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation
label
0    35313
1    21432
Name: count, dtype: int64

In [ ]:
# prompt: download the dataset

# Assuming the datasets are available to download from a URL or location
# Replace 'dataset_url1' and 'dataset_url2' with actual URLs or file paths
!wget dataset_url1 -O twitterdataset01.csv
!wget dataset_url2 -O DB2[use].csv